<h1>Available Rebates</h1>

    <% @rebates.each do |rebate| %>
        <div>
        <p><%= link_to rebate.rebate_name, rebate_path(rebate) %></p>
        <p><%= rebate.description %></p>
        </div>
    <% end %>
